/* aタグ */
.fc-h-event {
  background-color: transparent;
  border: none;
  text-align: right;
  pointer-events: none; /* ポインターイベントを無視する */
}

/* カレンダーの背景色設定 */
.fc-daygrid-body,
.fc-day {
  background-color: white; /* 背景色を白に設定 */
}

.fc-col-header-cell {
  background-color: #42a5f5;
  color: white; /* ヘッダーのテキスト色を白に設定 */
}

.fc .fc-daygrid-day-frame {
  height: 100%;
  min-height: 100px;
}

/* カスタムイベントの見た目ここから */
.money {
  white-space: nowrap; /* テキストを折り返さない */
  overflow: hidden; /* はみ出したテキストを隠す */
  text-overflow: ellipsis; /* はみ出したテキストの代わりに省略記号を表示 */
}

#event-income {
  color: black;
  font-weight: bold;
}

/* スマホサイズのスタイル */
@media (max-width: 600px) {
  .menu-calendar {
    height: 100vh; /* ビューポートの高さに合わせる */
    overflow: hidden; /* スクロールを無効にする */
  }

  .fc {
    font-size: 0.7rem; /* 全体のフォントサイズを少し小さくする */
    height: 100%; /* フルカレンダーの高さをコンテナに合わせる */
  }

  .fc .fc-toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fc .fc-toolbar-title {
    margin-bottom: 10px;
    font-size: 1rem; /* タイトルのフォントサイズを調整 */
  }

  .fc .fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .fc .fc-dayGridMonth-view .fc-dayGrid-cell {
    padding: 2px; /* セルのパディングを調整 */
  }

  .fc .fc-dayGridMonth-view .fc-dayGrid-day-number {
    font-size: 0.7rem; /* 日付のフォントサイズを調整 */
  }

  .fc .fc-dayGridMonth-view .fc-event {
    font-size: 0.5rem; /* イベントのフォントサイズを調整 */
    text-align: left; /* イベントタイトルを左寄せにする */
    padding-left: 2px; /* 左側にパディングを追加して少し余白を取る */
  }
}
